:root {
  --facebook: #3b5999;
  --instagram: #e4405f;
  --twitter: #55acee;
  --pinterest: #bd081c;
  --linkedin: #0066b5;
}

footer ul li {
  text-decoration-style: none;
  text-decoration: none;
  list-style-type: none;
  padding: 10px;
  font-size: 20px;
}

header {
  display: flex;
  color: white;
  font-size: 70px;
}
header nav {
  display: flex;
}

.carrusel {
  display: flex;
}
.carrusel .carousel-inner img {
  width: 100%;
  max-height: 460px;
}
.carrusel .carousel-inner {
  width: 600px;
  height: 500px;
}

.redes-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.redes-container ul li {
  display: inline-block;
  margin: 0 5px;
  width: 50px;
  height: 50px;
  text-align: center;
}
.redes-container a {
  display: block;
  padding: 0 10px;
  background-color: #333;
  color: #fff;
  line-height: 50px;
  font-size: 18px;
  box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.2);
}
.redes-container :hover a {
  filter: blur(2px);
}

.redes-container ul li a:hover {
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.4);
  filter: none;
}

.redes-container ul li .facebook:hover {
  background: var(--facebook);
}

.redes-container ul li .instagram:hover {
  background: var(--instagram);
}

.redes-container ul li .twitter:hover {
  background: var(--twitter);
}

.redes-container ul li .pinterest:hover {
  background: var(--pinterest);
}

.redes-container ul li .linkedin:hover {
  background: var(--linkedin);
}

.fondo-index {
  background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
}

a {
  text-decoration: none;
  padding: 20px;
}

.footer-torneo {
  background-color: rgba(255, 0, 0, 0.774);
}

.tefu:hover {
  background-color: rgba(255, 192, 203, 0.721);
  border-radius: 6px;
  transform: translate(10px, 10px);
}

/*-----------------historia-------------- */
h1 {
  text-align: center;
  font-size: 100px;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
  color: white;
  margin: 0px;
  padding: 5px;
}

h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 55px;
  padding: 0, 2px;
}

.fondo-resto {
  background-image: linear-gradient(180deg, #ffffff 0%, #6284FF 50%, #F29492 100%);
}

.centrar {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  padding: 2px;
  background-color: rgba(17, 67, 87, 0.3294117647);
  margin-top: 100px;
  border-top: 6px solid pink;
}
.centrar img {
  width: 300px;
  float: left;
  margin-right: 20px;
}

p {
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.footer-historia {
  background-color: rgba(255, 192, 203, 0.737);
}

.tehi:hover {
  background-color: rgba(248, 52, 52, 0.71);
  border-radius: 6px;
  transform: translate(10px, 10px);
}

.centar {
  margin-top: 70px;
  border-top: 6px solid rgba(127, 255, 212, 0.708);
  margin: auto;
  display: flex;
  justify-content: center;
  width: 900px;
  height: 550px;
}
.centar ul {
  font-size: 20px;
  width: auto;
  height: 50px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  list-style: none;
}
.centar li {
  font-size: 20px;
  margin: 0, auto;
}

.footer-tecnicas {
  background-color: rgba(127, 255, 212, 0.703);
}

.caja-verde {
  margin-top: 50px;
  border-top: 6px solid red;
  margin: auto;
  display: flex;
  justify-content: center;
  width: 1000px;
  height: 300px 350px;
}
.caja-verde img {
  float: left;
  width: 150px;
  height: 100px;
  margin-right: 80px;
}
.caja-verde ul {
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  list-style-type: none;
}

.tete:hover {
  background-color: rgba(190, 252, 33, 0.664);
  border-radius: 6px;
  transform: translate(10px, 10px);
}

/*# sourceMappingURL=style.css.map */
