$titulo:(
    fs:100px,
    centrar: center,
    fondo: linear-gradient(315deg, #0cbaba 0%, #380036 74%),
    letra: white,
    margen:50px,);
$centrar:(
   borde-Rosa: 6px solid pink,
   borde-celeste:6px solid rgba(127, 255, 212, 0.708),
   margen: 100px,
   width:100%,
   max-wi:1000px,

)

