$subtitle_2:(font-family: Georgia, 'Times New Roman', Times, serif;
color: white;font-size: 55px;
padding: 0,2px;margin-bottom: 0px;)
background-color: #FFFFFF;
background-image: linear-gradient(180deg, #FFFFFF 0%, #6284FF 50%, #FF0000 100%);
