.caja-verde{
    margin-top: 50px;
    border-top: 6px solid red;
    background-color: rgba(251, 253, 255, 0.557);
    margin: auto;
    display: flex;
    justify-content: center;
    width: 1000px;
    height: 300px 350px;
    }
    .caja-verde img{
        float: left;
        width: 150px;
        height: 100px;
        margin-right: 80px;
    }
    .caja-verde ul{
        font-size: 20px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        list-style-type: none;
        
    }
    .footer-tecnicas{
        background-color:rgba(127, 255, 212, 0.703) }
.tete:hover {
            background-color:rgba(190, 252, 33, 0.664); border-radius:6px; transform: translate(10px, 10px);} 