$bg-pg: color #114357;
$bg-pggra: linear-gradient(180deg,#FFFFFF 0% , #6284FF 50%, #F29492 100%);
$bg-title: #3C3B3F;
$bg-titlegra: lineal-gradient(100deg,#FFFFFF 0%, rgb(85, 83, 83) 50%, #000000 100%);
$bg-menu: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);