$bg-pg: #11435754;
$bg-pggra: linear-gradient(180deg,#ffffff 0% , #6284FF 50%, #F29492 100%);
$bg-title: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
$bg-menu: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);

 
