@import"./base/maps";
@import"./base/variables";
@import"./base/extends";
@import"./componentes/menu";
@import"./componentes/historia";
@import"./componentes/tecnicas";
@import"./componentes/torneo";

