/*-----------------historia-------------- */
h1
{    text-align: map-get($titulo, centrar );
     font-size: map-get($titulo, fs );
     font-family:Georgia, 'Times New Roman', Times, serif;
     background-color:map-get($titulo, fondo );
     color: map-get($titulo, letra );
     margin:0px;
    padding: 5px;
    }

h2{font-family: Georgia, 'Times New Roman', Times, serif;
   
    font-size: 55px;
    padding: 0,2px;}
.fondo-resto{

   background-image:$bg-pggra;
 }
.centrar
{   
    width: map-get($centrar , width );
    max-width: map-get($centrar , max-wi );
    margin: auto;
    padding: 2px;
    background-color: $bg-pg;
    margin-top: map-get($centrar , margen );
    border-top: map-get($centrar , borde-Rosa );
  img
  {
    width:300px;
    float: left;
    margin-right: 20px;}
}
p{font-size: 20px;font-family: Georgia, 'Times New Roman', Times, serif;}
footer ul li
    {@extend %footer}
.footer-historia{
            background-color: rgba(255, 192, 203, 0.737);}
.tehi:hover {
                background-color:rgba(248, 52, 52, 0.71); border-radius:6px; transform: translate(10px, 10px);}  