
.respo{
    width:100%;


}

header{
    display: flex;
    color: white;
    font-size: 70px;
}
.navbar{
    width: 100%;
}
.carrusel{
    display: flex;  
    
    .carousel-inner img {
      width: 100%;
        
    
    }
    
    .carousel-inner{
        width: 600px;
     height: 500px;
   
    } }
.redes-container{
    display: flex;
    align-items: center;
    justify-content: center;
    ul li{
        display: inline-block;
        margin: 0 5px;
        width: 50px;
        height: 50px;
        text-align: center;
    }
    a{
        display: block;
        padding: 0 10px;
        background-color: #333;
        color: #fff;
        line-height: 50px;
        font-size: 18px;
        box-shadow: 0 3px 5px 0px rgba(0, 0, 0, .2);
    }
    :hover a{
        filter: blur(2px);
        }
        }
.redes-container ul li a:hover{
transform: translateY(-3px) scale(1.05);
box-shadow: 0 5px 5px 0px rgba(0,0,0,.4);
filter: none;
}
.redes-container ul li .facebook:hover{
    background: var(--facebook);
}
.redes-container ul li .instagram:hover{
    background: var(--instagram);
}
.redes-container ul li .twitter:hover{
    background: var(--twitter);
}
.redes-container ul li .pinterest:hover{
    background: var(--pinterest);
}
.redes-container ul li .linkedin:hover{
    background: var(--linkedin);
}
.fondo-index{
    background-image: $bg-menu; }
a{text-decoration: none;
    padding: 20px;
}
.footer-torneo{
    background-color: rgba(255, 0, 0, 0.774);}
.tefu:hover {
  background-color: rgba(255, 192, 203, 0.721); border-radius:6px; transform: translate(10px, 10px);}