
header{
    display: flex;
    color: white;
    font-size: 70px;
    nav{
display: flex;
    }
}
.carrusel{
    display: flex;  
    
    .carousel-inner img {
      width: 100%;
        max-height: 460px;
    
    }
    
    .carousel-inner{
        width: 600px;
     height: 500px;
   
    } }
.fondo-index{
    background-image: $bg-menu; }
body{
    flex-direction: column;
    justify-content: center;
    background-attachment: fixed;background-position: center;background-repeat: no-repeat;background-size: cover;}
a{text-decoration: none;
    padding: 20px;
}
.footer-torneo{
    background-color: rgba(255, 0, 0, 0.774);}
.tefu:hover {
  background-color: rgba(255, 192, 203, 0.721); border-radius:6px; transform: translate(10px, 10px);}