@media screen and (max-width:1000px) {
    .off{display: none;}
    H2{ 
        width: 100%;
        font-size: 100px;
    }
    div img {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin: 0 auto;
    }  }
    @media screen and (max-width:400px) and (max-width:800px)  {
    h1{ width: 100%;
    font-size: 80px;}
    h2{width: 50%;
    font-size: 40px;}
    article{display: block;
        width: 100%;
        img{width: 100%;}
        p{width: 90%;
        max-width: 1000px;}
    }
    }
        
    #tecnicas{  
        display: grid;
        text-align:left;
        font-size:60px;
        margin:10px;}
