@media screen and (max-width: 480px) {
  .carrusel div{
    display: none;
    width: 100%;
}
    .carrusel div p{
        display: none;
        align-items: baseline;
        width: 100%;
    }  
     #historia{
         display: flex;
         text-align:left;
         font-size: 50px;
         margin: auto
       }
    #tecnicas{  
        display: grid;
        text-align:left;
        font-size:60px;
        margin:10px;}
     #torneos{
     font-size: 40px;
     margin: auto;
     display: inline-flex;
     padding: 10px;
     }
}