@media screen and (max-width:480px) {
 #menu{
    div img {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin: 0 auto;
    }
    .centrar{
        flex-direction: row-reverse;
        
    }
 }
     #historia{
         display: flex;
         text-align:left;
         font-size: 50px;
         margin: auto
       }
    #tecnicas{  
        display: grid;
        text-align:left;
        font-size:60px;
        margin:10px;}
     #torneos{
     font-size: 40px;
     margin: auto;
     display: inline-flex;
     padding: 10px;
     }
}