
.centar
{ 
    margin-top: 70px;
    border-top: map-get($centrar, borde-celeste );
    margin:auto;
    display: flex; 
    justify-content: center;
    width: 900px;
    height: 550px;
 ul{
    font-size: 20px;
    width: auto;
   height: 50px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   list-style: none;
   }     
 li{
    font-size: 20px;
    margin: 0,auto;}
  }
  .footer-tecnicas{
   background-color:rgba(127, 255, 212, 0.703) }