.caja-verde{
    margin-top: 50px;
    border-top: 6px solid red;
    margin: auto;
    display: flex;
    justify-content: center;
    width: 1000px;
    height: 300px 350px; 
img{
    float: left;
    width: 150px;
    height: 100px;
    margin-right: 80px;  }
    ul{
        font-size: 20px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        list-style-type: none;
        
    }  }
    
.tete:hover {
            background-color:rgba(190, 252, 33, 0.664); border-radius:6px; transform: translate(10px, 10px);} 