@media screen and (max-width:480px) {
    #index{
        text-align: right;
     font-size: 50px;
     margin: 0 auto;}
     #index nav {
         display: inline-flex;
         margin-top: 1%;
         padding: 5%;
     }
     #index ul li{
        text-decoration-style: none;
        text-decoration: none;
        list-style-type: none;
     }
    #historia{
        display: flex;
        text-align:left;
        font-size: 50px;
        margin: auto
    }
    #tecnicas{  
        display: grid;
        text-align:left;
        font-size:60px;
        margin:10px;}
    #torneos{
    font-size: 40px;
    margin: auto;
    display: inline-flex;
    padding: 10px;
    }
}